/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

.creditguard-section .heading {background: url("images/creditguard_logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.creditguard-section .button-container {float: right;}
.creditguard-section .config-alt {background: url("images/credit_icons.png") no-repeat scroll 0 0 / 100% auto; height: 28px; margin: 0.5rem 0 0; width: 150px;}




