<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method creditguard_emv" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()},value: getCode(),checked: isChecked,click: selectPaymentMethod,
               visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content" afterRender="bindCGEvent">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block creditguard_emv">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <iframe id="cg_ifm" style="border-style: none; width: 500px; height: 0;"
                data-bind="attr: {src: getCode() == isChecked() ? createTransaction : ''}"></iframe>
        <!-- ko if: (fail) -->
            <a data-bind="
                click: reload,
                i18n: 'Try again'
            "></a>
        <!-- /ko -->
        <div class="creditguard_emv-note">
        </div>
    </div>
</div>

