<?php /** @var \Fisha\CreditGuardEMV\Block\Adminhtml\Info $block */ ?>
<?php
$payment = $block->cgPayment();
$helper = $this->helper(\Magento\Framework\Pricing\Helper\Data::class);
$numberOfPayments = (int) $payment->getAdditionalInformation('cg_num_payments') + 1;
?>
<?php if ($payment->getMethod() == 'creditguard_emv'): ?>
    <br/>
    <div class="admin__page-section-item-title">
        <span class="title">CreditGuard EMV Info</span>
    </div>
    <p>
        <strong>MPI Transaction ID: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_tx_id') ?>
    </p>
    <p>
        <strong>Status: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_status_text') ?>
    </p>
    <p>
        <strong>Card brand: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cc_type') ?>
    </p>
    <p>
        <strong>Card mask: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_card_mask') ?>
    </p>
    <p>
        <strong>Card Expiration: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_card_exp') ?>
    </p>
    <p>
        <strong>Personal ID: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_personal_id') ?>
    </p>
    <p>
        <strong>Card Token: </strong>
        <?= /* @escapeNotVerified */ $payment->getAdditionalInformation('cg_card_token') ?>
    </p>
    <?php if ($numberOfPayments > 1):?>
        <p>
            <strong>Number of Payments: </strong>
            <?= $numberOfPayments ?>
        </p>
        <p>
            <strong>First Payment: </strong>
            <?= $helper->currency((int) $payment->getAdditionalInformation('cg_first_payment') / 100) ?>
        </p>
        <p>
            <strong>Rest Payments: </strong>
            <?= $helper->currency((int) $payment->getAdditionalInformation('cg_periodical_payment') / 100) ?>
        </p>
    <?php endif; ?>
<?php endif; ?>
